[package]
name = "yz-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.9"
thiserror = "1"
swedish_yatzy_dp = { path = "../swedish_yatzy_dp" }
